<!--band.vtl-->
<div class="jumbotron">
<h1>$band.getBandName() Members</h1>

<a href="/bands/$band.getBandId()/members/new"><h1>Add members</h1></a>


<h2>$band.getBandName() members:</h2>
<ul>
  #foreach($member in $band.getBandMembers())
   <li>$member.getHeroName()</li>
   <li>$member.getHitPoints()</li>
   <li>$member.getAttackPower()</li>
   <li>$member.getChanceToHit()</li>
  #end
</ul>

<a href="/bands"><h3>View all bands</h3></a>

</div>

<!--band.vtl-->
