<!--bands.vtl-->
<div class="jumbotron">
<h1>Here are the bandz</h1>

<ul>
#foreach ($band in $bands)
<li><h2><a href="/bands/$band.getBandId()">$band.getBandName()</h2></li>
#end
</ul>
</div>

<!--bands.vtl-->
